
/* Basic */
	*{margin:0; padding:0;}

	body{
		font-family:"굴림",Gulim, Arial, sans-serif;
		font-size:12px;
		line-height:16px;
		height:100%;
		text-align:center;
		color:#333;
		margin:0;
		padding:0;
		}
	div, p, ol, ul, li, img, a, form, span, iframe, dl, dt, dd {
		margin:0px;
		padding:0px;
		font-family:"굴림", Gulim, Arial, sans-serif;
		text-align:left;
		}
	dl, ul, ol {
		list-style:none;
		}
	table, th, td {
		font-size:12px;
		empty-cells:show;
		border-collapse: collapse;
		}
	fieldset {
		margin:0px;
		padding:0px;
		border:none;
		}
	legend, caption {display:none;}
	hr {display:none;}
	img{border:none; }
	input{padding:0;margin:0;border:none;vertical-align:middle;}
	button{padding:0;margin:0;border:none;overflow:visible;vertical-align:middle;}
	input.text{
		color:#4d4d4d;
		background:#fff;
		font-size:12px;
		padding:2px 2px 1px 2px;
		border:1px solid #ccc;
		vertical-align:middle;
		height:14px;
		}
	input.file{
		color:#4d4d4d;
		background:#fff;
		font-size:12px;
		padding:2px 2px 1px 2px;
		border:1px solid #ccc;
		vertical-align:middle;
		height:19px;
		}
	input.num{
		text-align:right;
		}
	input.password{
		color:#4d4d4d;
		background:#fff;
		font-size:12px;
		padding:2px 0px 1px 4px;
		border:1px solid #ccc;
		vertical-align:middle;
		height:14px;
		}
	input.checkbox{width:14px;height:14px;border:none !important; background:transparent;vertical-align:middle;}
	input.radio{width:12px;height:12px;border:none !important; background:transparent;vertical-align:middle;}
	input.dis, select.dis, textarea.dis{background:#D7D7D7 !important; color:#777;}
	input.notnull{background:#d4e9fd;}
	select.select {
		color:#4c4c4c;
		font-size:12px;
		vertical-align:bottom;
		background:#fff;
		border:1px solid #ccc;
		height:19px;
		}
	textarea.textarea{
		font-size:12px;
		background:#fff;
		border:1px solid #ccc;
		}
.disn{display:none;}

/* height */
	.ht9{height:9px;padding:0 !important;}
	.ht6{height:6px;padding:0 !important;}
	.ht15{height:15px;padding:0 !important;}

/* 정렬 */
	.t_center{text-align:center !important;}
	.t_right{text-align:right !important;}
	.t_left{text-align:left !important;}

	.f_right{float:right;}
	.f_left{float:left;}

	.vtop{vertical-align:top !important;}
	.vbottom{vertical-align:bottom !important;}
	.vmiddle{vertical-align:middle !important;}
	.cboth{
		clear:both;
		overflow:hidden;
		margin:0;
		padding:0;
		}

/* 마진 하단값 */
	.mgb2{margin-bottom:2px !important;}
	.mgb5	{margin-bottom:5px !important;}
	.mgb10	 {margin-bottom:10px !important;}
	.mgb15	 {margin-bottom:15px !important;}
	.mgb20	 {margin-bottom:20px !important;}
	.mgb25	 {margin-bottom:25px !important;}
	.mgb30	 {margin-bottom:30px !important;}
/* 마진 상단값 */
	.mgt2{margin-top:2px;}
	.mgt5{margin-top:5px;}
	.mgt7{margin-top:7px;}
	.mgt10{margin-top:10px;}
	.mgt20{margin-top:20px !important;}
	.mgtm2{margin-top:-2px;}
	.mgtm5{margin-top:-5px;}
	.mgtm10{margin-top:-10px !important;}
/* 마진 좌측값 */
	.mgl1{margin-left:1px !important;}
	.mgl2{margin-left:2px !important;}
	.mgl3{margin-left:3px !important;}
	.mgl5{margin-left:5px !important;}
	.mgl10{margin-left:10px;}
	.mgl30{margin-left:30px;}
	.mgl4m{margin-left:-4px !important;}
/* 마진 우측값 */
	.mgr5{margin-right:5px !important;}
	.mgr10{margin-right:10px !important;}
/* 마진 상하단값 */
	.mgtb10{margin:10px 0;}
	.mgtb20{margin:20px 0;}
/* 패딩 우측값 */
	.pdr20{padding-right:20px !important;}
/* 패딩 좌측값 */
	.pdl10{padding-left:10px;}

/* Text Common */
	/* 일반 링크 */
		a:link, a:visited {text-decoration:none; color:#333;}
		a:hover, a:active {text-decoration:underline; color :#103e96;}
	/* 노라인 링크 */
		a.noline:link, a.noline:visited {color:#333333; text-decoration:none;}
		a.noline:active, a.noline:hover {color:#103e96; text-decoration:none;}
	/* 라인 링크 */
		a.line:link, a.line:visited {color:#333333; text-decoration:underline;}
		a.line:active, a.line:hover {color:#103e96; text-decoration:underline;}
	/* 버튼 링크 */
		a.btn_lnk:link, a.btn_lnk:visited {color:#157BC3; text-decoration:underline;}
		a.btn_lnk:active, a.btn_lnk:hover {color:#FF6600; text-decoration:underline;}

	/* 강조하고자 하는 메시지 */
		.txt_guide {font-size:9pt; color:#666666; font-weight: normal;}
		.txt_point {color:#FF5300;}
		.txt_dis {color:#999999;}
		.txt_s_b {font-size:11px; color:#004191;} /* 구분 컬러 : 파랑 */
		.txt_s_g {font-size:11px; color:#096B08;} /* 구분 컬러 : 녹색 */

		.txt_b2 {color:#0c419a;} /* 구분 컬러 : 파랑2 */
		a.txt_b2:link {color:#0c419a; text-decoration:none;}
		a.txt_b2:visited, 
		a.txt_b2:active, 
		a.txt_b2:hover {color:#0c419a; text-decoration:none;}

		.txt_b{color:#0000FF;} /* 구분 컬러 : 파랑 */
		a.txt_b:link {color:#0000FF; text-decoration:underline;}
		a.txt_b:visited {color:#0000FF; text-decoration:none;}
		a.txt_b:active {color:#F78512; text-decoration:underline;}
		a.txt_b:hover {color:#F78512; text-decoration:underline;}

		.txt_g {color:#096B08;} /* 구분 컬러 : 녹색 */
		a.txt_g:link {color:#096B08; text-decoration:underline;}
		a.txt_g:visited {color:#096B08; text-decoration:none;}
		a.txt_g:active {color:#F78512; text-decoration:underline;}
		a.txt_g:hover {color:#F78512; text-decoration:underline;}

		.txt_r {color:#FF0000;} /* 구분 컬러 : 빨강 */
		a.txt_r:link {color:#FF0000; text-decoration:underline;}
		a.txt_r:visited {color:#FF0000; text-decoration:none;}
		a.txt_r:active {color:#F78512; text-decoration:underline;}
		a.txt_r:hover {color:#F78512; text-decoration:underline;}

